<div class="bg-light px-3 py-2 text-uppercase font-weight-bolder">
    Order Summary
</div>
<div class="p-4">
    <p style="font-weight: bolder;">We charge a flat rate cost for delivery in a sum of $750.</p>
    <ul class="list-unstyled mb-4" *ngIf="(shoppingCartTotal$ | async) as totals">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Delivery Charges</strong>
            <strong>{{totals.delivery | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Subtotal</strong>
            <strong>{{totals.subtotal | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Tax</strong>
            <strong>{{totals.tax | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total</strong>
            <strong>{{totals.total | currency}}</strong>
        </li>

    </ul>
    
</div>
